/* تنظیمات کلی صفحه */
.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
  background: linear-gradient(135deg, #1c1c1c, #3a3a3a); /* تغییر بک‌گراند کلی */
  color: #00e5ff;
  font-family: 'Arial', sans-serif;
  margin: 0; /* حذف حاشیه‌های اضافی */
  padding: 0; /* حذف پدینگ‌های اضافی */
  box-sizing: border-box; /* مطمئن شوید که ابعاد شامل پدینگ و مرزها هستند */
}

/* تنظیمات برای ورودی و دکمه */
input[type="text"], button {
  padding: 10px;
  border: none;
  border-radius: 5px; /* گوشه‌های گرد */
  font-size: 1em;
  box-sizing: border-box; /* مطمئن شوید که ابعاد شامل پدینگ و مرزها هستند */
}

/* تنظیمات برای ورودی */
input[type="text"] {
  border-bottom: 2px solid #00e5ff; /* مرز پایین */
  width: 250px;
  background-color: #333; /* تغییر رنگ پس‌زمینه */
  color: #00e5ff;
  margin-bottom: 20px; /* فاصله پایین */
}

/* استایل برای دکمه */
button {
  background-color: #00e5ff; /* رنگ پس‌زمینه دکمه */
  color: #1a1a1a; /* رنگ متن دکمه */
  cursor: pointer;
  margin-top: 10px; /* فاصله بالای دکمه */
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.5); /* سایه دکمه */
}

/* استایل برای لیست پیشنهادات */
.suggestions-list {
  list-style-type: none;
  padding: 0;
  margin: 0;
  position: absolute;
  border: 1px solid #00e5ff;
  background-color: #1a1a1a;
  border-radius: 5px;
  width: 250px;
  max-height: 200px;
  overflow-y: auto;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.5);
  z-index: 1000;
}

.suggestions-list li {
  padding: 10px;
  color: #00e5ff;
  cursor: pointer;
}

.suggestions-list li:hover {
  background-color: #00e5ff;
  color: #1a1a1a;
}

/* استایل برای بخش‌های دیگر */
.weather-info, .hourly-forecast {
  background-color: #2c2c2c; /* رنگ پس‌زمینه اطلاعات آب و هوا */
  padding: 20px;
  border-radius: 10px;
  margin-top: 20px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.5);
  color: #00e5ff;
}
/* استایل‌های slick-carousel */
@import "~slick-carousel/slick/slick.css";
@import "~slick-carousel/slick/slick-theme.css";
